@mixin flex-center-row {

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @mixin flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content:center;
}