@use 'mixins';
.table--container{
    overflow-y: scroll;
}
.table--region{
    @include mixins.flex-center-row;
    
}
.column--region{
    align-self: stretch;
}
table {
    border-collapse: collapse;
            table-layout: auto;
            width: 100%;
}
th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: max-content;
    white-space: nowrap;
    
}